/* this will change the font family and backgroudn color for the whole page*/
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
}
/* this will change the font size for the header*/

h1 {
    font-size: 20px;
}
/* this will change the color for the table header*/
.tableone {
    background-color: blue;
}
/* this will change the color for the table header*/
.tabletwo {
    background-color: red;
}
/* this will change the color for the table header*/
.tablethree {
    background-color: yellow;
}
/* this will change the color for the second header element*/
#headertwo{
    background-color: aquamarine;
}